<!DOCTYPE html>
<html lang="pt_BR">
{% include "header.html" %}
    <body>
{% include "navbar.html" %}
        <main role="main">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <div class="align-self-center text-center">
                        <strong>{{ solicitacao_de_servico.data_de_entrega_do_relatorio}}</strong>
                        <h1 class="display-4">{{ solicitacao_de_servico.data_de_entrega_do_relatorio }}</h1>
                            {{ solicitacao_de_servico.data_de_entrega_do_relatorio }}
                    </div>
                </div>
                <div class="card-body">
                    <h1>Solicitação de Serviço <small>N&ordm;{{ solicitacao_de_servico.id }}</small></h1>
                    <div role="alert" class="d-flex alert {% if solicitacao_de_servico.prioridade == '1' %} alert-success{% elif solicitacao_de_servico.prioridade == '2' %} alert-warning{% elif solicitacao_de_servico.prioridade == '3' %} alert-danger{% else %} alert-secondary{% endif %}">
                        <div class="p-2 text-truncate">
                            {{ solicitacao_de_servico.nome_cliente }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}
    </body>
</html>
<!--
    vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
-->